body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 179, 179);
}
#navigation-search {
    height: 250px;
    width: 700px;
    background-color: rgb(53, 52, 52);
    margin: 40px auto;
}
.navigation {
    height: 50px;
    width: 500px;
    background-color: rgb(66, 63, 82);
    border-radius: 5px;
    position: absolute;
    display:inline-block;
    left: 710px ;
    top: 100px;
    margin: 5px auto;
}
ul{
    margin: 5px;
    padding: 0;
    list-style:none;
    height: 50px;
}
ul li {
    float: left;
    margin: 10px;
}
ul li button{
 background-color: rgb(53, 52, 52);
 color: white;
 text-align: center;
 display: block;
 border: none;
 margin: 0px auto;
 height: 25px;
 padding:0 30px;
 border-radius:5px;
}
.d-search {
    height: 25px;
    width: 200px;
    background-color: rgb(66, 63, 82);
    border-radius: 5px;
    position: relative;
    left: 240px ;
    top: 140px;
    padding: 15px;
}
#search {
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 15px;
    background-color:  rgb(53, 52, 52);
    color: white;
  }
svg{
      height: 12px;
      width: 12px;
      position: absolute;
    display:inline-block;
    left: 187px ;
    top: 25px;
  }